<h1>New Addition</h1>

<form action="wizard_add">
  <label for="mom">Add this:</label>
  <input id="mom" name="first_num">

  <label for="walk">to this:</label>
  <input id="walk" name="second_num">

  <button>Add!</button>
</form>
