<h1>New multiplication</h1>

<form action="wizard_multiply">
  <label for="dad">Multiply this:</label>
  <input id="dad" name="first_num">

  <label for="dee">by this:</label>
  <input id="dee" name="second_num">

  <button>Multiply!</button>
</form>
