<h1>New subtraction</h1>

<form action="wizard_subtract">
  <label for="warry">Subtract this:</label>
  <input id="warry" name="first_num">

  <label for="Rich">from this:</label>
  <input id="Rich" name="second_num">

  <button>Subtract!</button>
</form>
